{% extends "layout.html" %}

<!-- content  -->
{% block content %}
<div id="main">
  <p class="main-message">🥦 [[ message ]]</p>
  <p class="main-message">🌶 {{ message }}</p>
</div>
<script>
  new Vue({
    el: "#main",
    delimiters: ["[[", "]]"],
    data: {
      message: "Main Vue message",
    },
  });
</script>
<style>
  body {
    margin: 0;
  }
  #main {
    width: 100%;
    padding: 80px;
    background-color: #fff;
    height: 48vh;
  }
  .main-message {
    font-size: x-large;
    font-weight: bold;
  }
</style>
{% endblock %}
<!-- /content  -->
