<div id="app-footer">
  <app-footer>
    <div>[[ message ]]</div>
  </app-footer>
</div>

<script>
  Vue.component("app-footer", {
    data: function () {
      return {
        message: "This is footer",
      };
    },
    delimiters: ["[[", "]]"],
    template: `
      <div id="footer">
          <p>[[ message ]]</p>
          <p><slot /></p>
      </div>`,
  });

  new Vue({
    el: "#app-footer",
    delimiters: ["[[", "]]"],
    data: {
      message: "message from Vue",
    },
  });
</script>

<style>
  #app-footer {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #d7ccc8;
    height: 240px;
  }
</style>
